<% @head = "Create Article - " %>
<div class="arial">
  <h1>New Article</h1>
    <%= render 'form'  %>
  <%= link_to 'Cancel and go back to articles', articles_path, data: { confirm: "Are you sure you want to lose this data and return to articles page?" } %>
</div>
