<% @head = "Details - " %>
<div class="topnav">
  <a href="https://maya-dog-walking.herokuapp.com/">Home</a>
  <a href="https://maya-dog-walking.herokuapp.com/availability">Availablity</a>
  <a class="active" href="https://maya-dog-walking.herokuapp.com/details">Details</a>
  <a href="https://maya-dog-walking.herokuapp.com/articles">Articles</a>
</div>
