<% @head = "" %>
  <div class="topnav">
    <a class="active" href="https://maya-dog-walking.herokuapp.com/">Home</a>
    <a href="https://maya-dog-walking.herokuapp.com/availability">Availablity</a>
    <a href="https://maya-dog-walking.herokuapp.com/details">Details</a>
    <a href="https://maya-dog-walking.herokuapp.com/articles">Articles</a>
  </div>
<h2 class="unbold">So you <strong>are</strong> tired of walking your dog!</h2>
<div>
    <img class="dog1"src="https://cdn.discordapp.com/attachments/715275397465374760/741725652746764418/cute_dog2.png" alt="Cute Dog"
    Thank you for considering Maya's dog walking service! <br>
    We are proudly helping the dog owners of West Hillhurst by walking their dogs so they only get the best times with their buddies. <br>
    <br>
    <b>Prices:</b> <br>
    $10 / hour <br>
    <strong>50% OFF:</strong><br>
    If it is your first time using our service <br>
    Every 5 times your dog is walked <br>
</div>
