<% @head = "" %>
<div class="arial">
  <table style="background-color: grey">
    <tr>
      <td class="title" style="padding: 0px 0px 0px 70px"><h1>Maya dog walking</h1></td>
      <td><img class="dog1" src="https://cdn.discordapp.com/attachments/715275397465374760/741435429076860938/cute_dog.png" alt="Cute Dog"></td>
      <td style="padding: 0px 0px 0px 70px"><a href="https://maya-dog-walking.herokuapp.com/details" class="button">Details</a></td>
      <td style="padding: 0px 0px 0px 70px"><a href="https://maya-dog-walking.herokuapp.com/articles" class="button">Articles</a></td>
      <td style="padding: 0px 0px 0px 70px"><a href="https://maya-dog-walking.herokuapp.com/availability" class="button">Availability</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><h2 class="unbold">So you <strong>are</strong> tired of walking your dog!</h2>
      <p>Thank you for considering Maya's dog walking service!</p></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><img class="dog1"src="https://cdn.discordapp.com/attachments/715275397465374760/741725652746764418/cute_dog2.png" alt="Cute Dog"></td>
      <td><p>We are proudly helping the dog owners of West Hillhurst by walking their dogs so they only get the best times with their buddies.</p>
      <p><b>Prices:</b></p>
      <p>$10 / hour</p>
      <p><strong>50% OFF:</strong></p>
      <li>If it is your first time using our service</li>
      <li >Every 5 times your dog is walked</li></td>
    </tr>
  </table>
</div>
